.bar{
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 56%;
    text-align: left; 
    margin-top: 2rem;
    margin-left: 16.5%;;
}